process.containerEngine = 'singularity'

process {
    withName:pvacseq {
        container = '/nemo/project/proj-tracerX/working/CMELA/alex/work/cpi.nextflow/singularity/pvactools_4.0.7.sif'
    }
    withName:vepanno {
        container = '/nemo/project/proj-tracerX/working/CMELA/alex/work/cpi.nextflow/singularity/vep110.sif'
    }
}

singularity.enabled = true
singularity.autoMounts = true



